@page "/enfermeros/create" 
@using Microsoft.AspNetCore.Authorization

@inject IRepository repository 

@inject NavigationManager navigationManager 
 
@inject SweetAlertService sweetAlertService 

@attribute [Authorize(Roles = "Admin")]

<h3>ENFERMERO</h3> 

  

<EnfermeroForm @ref="enfermeroForm"  Enfermero="enfermero" OnSubmit="Create" ReturnAction="Return" /> 

  

@code { 

    private Enfermero enfermero = new(); 

    private EnfermeroForm enfermeroForm; 

    private async Task Create() 

    { 

        var responseHttp = await repository.PostAsync("/api/enfermeros", enfermero); 

        if (responseHttp.Error) 

        { 

            var message = await responseHttp.GetErrorMessageAsync(); 

            await sweetAlertService.FireAsync("Error", message); 

            return; 

        } 

        navigationManager.NavigateTo("/enfermeros"); 

    } 

    private void Return() 

    { 

        navigationManager.NavigateTo("/enfermeros"); 

    } 

} 

 