@page "/"

<PageTitle>Blood Bank</PageTitle>

<img class="img" src="/laboratorio-y-banco-de-sangre-6cd601c8.jpeg"/>

<section>
    <div class="container">
        <div class="card">
            <img src="/fauzan-my-coeA8_DvtoU-unsplash.jpg" alt="Imagen 1">
            <h3>¿Quiénes Somos?</h3>
            <p>Somos una plataforma digital comprometida con salvar vidas mediante la conexión entre hospitales
                y donantes de sangre. Nuestro objetivo es facilitar el proceso de donación de sangre al 
                proporcionar una herramienta eficiente y accesible para que las personas solidarias puedan
                conocer las necesidades urgentes de sangre en su comunidad y programar citas de donación de 
                manera rápida y sencilla.</p>
        </div>

        <div class="card">
            <img src="/hush-naidoo-jade-photography-Zp7ebyti3MU-unsplash.jpg" alt="Imagen 2">
            <h3>¿Por qué tú eres importante?</h3>
            <p>
                Tu acto de donar no solo lleva esperanza, sino también la oportunidad de que alguien más siga
                escribiendo su historia. Al elegir donar sangre, estás construyendo una red de apoyo que 
                conecta a hospitales y pacientes con héroes cotidianos, como tú, que están dispuestos a dar
                algo tan valioso como su tiempo y su salud.
                En nuestra plataforma, te facilitamos todo el proceso: desde encontrar puntos cercanos
                de donación hasta programar tu cita. Porque tu aporte es vital, queremos que donar sea 
                simple, rápido y significativo. Gracias por ser la pieza clave en esta misión de salvar vidas.
            </p>
        </div>

        <div class="card">
            <img src="/testalize-me-IfhHgroyKsc-unsplash.jpg" alt="Imagen 3">
            <h3>Requisitos</h3>
            <p>
                Donar sangre es un acto sencillo que salva vidas. Para ser donante, solo necesitas cumplir
                con los siguientes requisitos:

                Tener entre 18 y 65 años.
                Pesar al menos 50 kg.
                Estar en buen estado de salud, sin enfermedades contagiosas o crónicas descontroladas.
                Haber comido algo ligero antes de la donación (evita alimentos grasos).
                No haber donado sangre en los últimos 2-3 meses.
                </p><p>
                ¿Cumples con estos requisitos? ¡Entonces tú puedes salvar vidas!

                Tu donación puede marcar la diferencia en emergencias, cirugías y tratamientos médicos
                esenciales. Cada gota cuenta y puede ser la esperanza para alguien que lo necesita con urgencia.

                ¡Anímate a donar sangre! Es un gesto solidario que toma pocos minutos, pero tiene un impacto 
                enorme en la vida de los demás. Agenda tu cita ahora y conviértete en un héroe para tu
                comunidad. Juntos podemos salvar más vidas.
                </p>
        </div>
    </div>
</section>
