@page "/"

<PageTitle>Blood Bank</PageTitle>

<img class="img" src="/laboratorio-y-banco-de-sangre-6cd601c8.jpeg"/>

<section>
    <div class="container">
        <div class="card">
            <img src="/fauzan-my-coeA8_DvtoU-unsplash.jpg" alt="Imagen 1">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit molestie, risus 
                eget blandit fusce natoque metus sem. Felis feugiat potenti congue torquent eget 
                facilisis non rutrum nisi.</p>
        </div>

        <div class="card">
            <img src="/hush-naidoo-jade-photography-Zp7ebyti3MU-unsplash.jpg" alt="Imagen 2">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit molestie, risus
                eget blandit fusce natoque metus sem. Felis feugiat potenti congue torquent eget
                facilisis non rutrum nisi.</p>
        </div>

        <div class="card">
            <img src="/testalize-me-IfhHgroyKsc-unsplash.jpg" alt="Imagen 3">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit molestie, risus
                eget blandit fusce natoque metus sem. Felis feugiat potenti congue torquent eget
                facilisis non rutrum nisi.</p>
        </div>
    </div>
</section>
