<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="iconoTittle icono fa-solid fa-droplet"></i>Blood Bank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class='icono bx bxs-home'></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donantes">
                <i class='icono bx bxs-user'></i> Donante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="citas">
                <i class='icono bx bxs-spreadsheet'></i> Cita
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donaciones">
                <i class='icono bx bxs-paper-plane'></i> Donacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventarios">
                <i class='icono bx bxs-box'></i> Inventario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enfermeros">
                <i class='icono bx bx-plus-medical'></i> Enfermero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hospitales">
                <i class='icono bx bxs-building'></i> Hospital
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
