<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BloodBank.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <AuthorizeView Roles="Admin">
            <Authorized>
        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donantes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Donante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="citas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cita
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donaciones">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Donacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventarios">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inventario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enfermeros">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Enfermero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hospitales">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Hospital
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
