@page "/donantes/create" 
@inject IRepository repository 

@inject NavigationManager navigationManager 

@inject SweetAlertService sweetAlertService 
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@attribute [Authorize(Roles = "User")]
  

  

<h3>Donante Create</h3> 

  

<DonantesForm @ref="donanteForm"  Donante="donante" OnSubmit="Create" ReturnAction="Return" /> 

  

@code { 

    private Donante donante = new(); 

    private DonantesForm donanteForm; 

  

    private async Task Create() 

    { 

  

        var responseHttp = await repository.PostAsync("/api/donantes", donante); 

        if (responseHttp.Error) 

        { 

            var message = await responseHttp.GetErrorMessageAsync(); 

            await sweetAlertService.FireAsync("Error", message); 

            return; 

        } 

  

        navigationManager.NavigateTo("/Donantes"); 

    } 

  

    private void Return() 

    { 

        navigationManager.NavigateTo("/Donantes"); 

    } 

} 